.header{
    width: 400px;
    height: 100px;
    background-color: #f00;
    
}

.purple{
    display: flex;
    justify-content: right;
    
}

.p-box{
    width: 40px;
    height: 40px;
    background: #6729a0;
    margin-top: 20px;
    border: 10px solid white;
    
}

.p-center{
    border-left: none;
}

.p-right{
    margin-right: 20px;
    border-left: none;
}


.main{
    display: flex;
}

.main-left{
    width: 150px;
    height: 250px;
    background-color: #0a5;
}

.main-right{
    width: 250px;
    height: 250px;
    background-color: #2563eb;

}

.o-box{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid #fff;
    margin-bottom: 10px;
    margin-left: 40px;
}

.o-top{
    margin-top: 40px;
}

.footer{
    width: 400px;
    height: 100px;
    background: #fd0;
}




