.header{
    width: 400px;
    height: 100px;
    background-color: #f00;
    position: relative;
}

.white{
    background-color: #fff;
    position:absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}

.purple{
    display: flex;
    justify-content: right;
    gap: 10px;
}

.p-box{
    width: 40px;
    height: 40px;
    background: #6729a0;
    
    
}



.main{
    display: flex;
}

.main-left{
    width: 150px;
    height: 250px;
    background-color: #0a5;
}

.main-right{
    width: 250px;
    height: 250px;
    background-color: #2563eb;

}

.o-box{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid #fff;
    margin-bottom: 10px;
    margin-left: 40px;
}

.o-top{
    margin-top: 40px;
}

.footer{
    width: 400px;
    height: 100px;
    background: #fd0;
}




